{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for liked_message in user.liked_messages %}


    <li class="list-group-item">
      <a href="/messages/{{ liked_message.message.id }}" class="message-link"></a>

      <a href="/users/{{ liked_message.message.user.id }}">
        <img src="{{ liked_message.message.user.image_url }}" alt="user image" class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ liked_message.message.user.id }}">@{{ liked_message.message.user.username }}</a>
        <span class="text-muted">
          {{ liked_message.message.timestamp.strftime('%d %B %Y') }}
        </span>
        <p>{{ liked_message.message.text }}</p>
      </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}

liked_message.message.user_id